<section class="profile-videos" id="randomMedia" style="padding: 0;">
    <div class="row secBg">
        <div class="random-media-head text-center">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="tabs" data-tabs id="media">
                        <li class="tabs-title is-active"><a href="#critiques">{{::ProfileCritiquesCtrl.critiques.length}} Critiques Given</a></li>
                        <li class="tabs-title"><a href="#critiqued">{{::ProfileCritiquesCtrl.critiqued.length}} Critiques Received</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="content" ng-init="sortOrder='-created_at'">
            <!-- newest video -->
            <div class="row">
                <div class="large-12 columns">
                    <div class="tabs-content" data-tabs-content="media">
                        <div class="tabs-panel is-active" id="critiques">
                            <div class="large-12 columns comments">

                                <div class="comment-sort text-right">
                                    <span>Sort By : <a ng-class="{'active':sortOrder=='-created_at'}"
                                                       ng-click="sortOrder='-created_at'">newest</a> | <a
                                            ng-class="{'active':sortOrder=='created_at'}"
                                            ng-click="sortOrder='created_at'">oldest</a></span>
                                </div>

                                <!-- main comment -->
                                <div class="main-comment">
                                    <div class="media-object stack-for-small"
                                         ng-repeat="critique in ProfileCritiquesCtrl.critiques.data|orderBy:sortOrder">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img ng-src="{{::critique.user.avatar||'/assets/img/avatar-1.png'}}"
                                                     alt="comment">
                                            </div>
                                        </div>
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a ui-sref="user.about({url_id: critique.user.url_id})">
                                                    {{::critique.user.fullName}}</a> Said:
                                                </span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>
                                                    <abbr title="{{::critique.created_at|amUtc|amLocal|amDateFormat:'lll'}}"
                                                          am-time-ago="::critique.created_at"></abbr>

                                                    <!--<span ng-if="critique.editedAt && !Body.isSame(critique.created_at, critique.editedAt)">
                                                        |Edited: <abbr title="{{::critique.editedAt|amUtc|amLocal|amDateFormat:'lll'}}"
                                                                       am-time-ago="::critique.editedAt"></abbr>
                                                    </span>-->
                                                </span>
                                            </div>
                                            <div class="comment-text">
                                                <div class="row clearfix">
                                                    <div class="columns medium-7 small-5">
                                                        <p ng-bind="::critique.body"></p>
                                                    </div>
                                                    <div class="columns medium-5 small-7">
                                                        <div class="row columns" ng-if="::critique.type === 'video'">
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Acting</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.performances}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Cinematography</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.cinematography}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Direction</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.direction}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Editing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.structure}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Music</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.music}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Originality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.originality}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Pacing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.pacing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Production Value</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.production}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Sound Quality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.audio}}</span>
                                                            </div>
                                                            <div class="row columns"
                                                                 style="border-bottom: 1px solid #ddd;">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Writing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.writing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Overall Rating</span>
                                                                </div>
                                                                <div class="columns medium-4 small-3">
                                                                    <span class="md-body-2">{{::critique.overall|number:1}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row columns" ng-if="::critique.type === 'script'">
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Concept</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.concept}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Presentation</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.presentation}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Characters</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.characters}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Structure</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.structure}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Dialogue</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.dialogue}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Originality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.originality}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Pacing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.pacing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Theme</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.theme}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Style</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.style}}</span>
                                                            </div>
                                                            <div class="row columns" style="border-bottom: 1px solid #ddd;">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Plot</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.writing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Overall Rating</span>
                                                                </div>
                                                                <div class="columns medium-4 small-3">
                                                                    <span class="md-body-2">{{::critique.overall|number:1}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-btns">
                                                <span>{{::critique.commentCount||0}} comments</span>
                                                <span><a
                                                        ui-sref="video_critique({video_url_id: critique.project.data.url_id, url_id:critique.url_id})"><i
                                                        class="fa fa-comments"></i>View</a></span>
                            <span ng-if="::critique.user.id === ProfileCritiquesCtrl.user.id">
                                <a ui-sref="video_critique-edit({video_url_id: critique.project.data.url_id, url_id:critique.url_id})"><i
                                        class="fa fa-pencil"></i>Edit</a>
                            </span>
                                                <!--<span ng-if="critique.user.id === ProfileCritiquesCtrl.user.id">
                                                    <a ng-click="Vcritique.deleteCritique(critique, $event)"><i class="fa fa-close"></i>Delete</a>
                                                </span>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End main comment -->
                            </div>

                        </div>
                        <div class="tabs-panel" id="critiqued">
                            <div class="large-12 columns comments">

                                <div class="comment-sort text-right">
                                    <span>Sort By : <a ng-class="{'active':sortOrder=='-created_at'}"
                                                       ng-click="sortOrder='-created_at'">newest</a> | <a
                                            ng-class="{'active':sortOrder=='created_at'}"
                                            ng-click="sortOrder='created_at'">oldest</a></span>
                                </div>

                                <!-- main comment -->
                                <div class="main-comment">
                                    <div class="media-object stack-for-small"
                                         ng-repeat="critique in ProfileCritiquesCtrl.critiqued.data|orderBy:sortOrder"
                                         ng-init="critique.replies=[];critique.showReplies=false;">
                                        <div class="media-object-section comment-img text-center">
                                            <div class="comment-box-img">
                                                <img ng-src="{{::critique.user.avatar||'/assets/img/avatar-1.png'}}"
                                                     alt="comment">
                                            </div>
                                        </div>
                                        <div class="media-object-section comment-desc">
                                            <div class="comment-title">
                                                <span class="name"><a ui-sref="user.about({url_id: critique.user.url_id})">
                                                    {{::critique.user.fullName}}</a> Said:
                                                </span>
                                                <span class="time float-right"><i class="fa fa-clock-o"></i>
                                                    <abbr title="{{::critique.created_at|amUtc|amLocal|amDateFormat:'lll'}}"
                                                          am-time-ago="::critique.created_at"></abbr>

                                                    <!--<span ng-if="critique.editedAt && !Body.isSame(critique.created_at, critique.editedAt)">
                                                        |Edited: <abbr title="{{::critique.editedAt|amUtc|amLocal|amDateFormat:'lll'}}"
                                                                       am-time-ago="::critique.editedAt"></abbr>
                                                    </span>-->
                                                </span>
                                            </div>
                                            <div class="comment-text">
                                                <div class="row clearfix">
                                                    <div class="columns medium-7 small-5">
                                                        <p ng-bind="::critique.body"></p>
                                                    </div>
                                                    <div class="columns medium-5 small-7">
                                                        <div class="row columns" ng-if="::critique.type === 'video'">
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Acting</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.performances}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Cinematography</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.cinematography}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Direction</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.direction}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Editing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.structure}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Music</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.music}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Originality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.originality}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Pacing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.pacing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Production Value</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.production}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Sound Quality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.audio}}</span>
                                                            </div>
                                                            <div class="row columns"
                                                                 style="border-bottom: 1px solid #ddd;">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Writing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.writing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Overall Rating</span>
                                                                </div>
                                                                <div class="columns medium-4 small-3">
                                                                    <span class="md-body-2">{{::critique.overall|number:1}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row columns" ng-if="::critique.type === 'script'">
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Concept</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.concept}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Presentation</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.presentation}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Characters</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.characters}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Structure</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.structure}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Dialogue</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.dialogue}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Originality</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.originality}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Pacing</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.pacing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Theme</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.theme}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Style</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3" >{{::critique.style}}</span>
                                                            </div>
                                                            <div class="row columns" style="border-bottom: 1px solid #ddd;">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Plot</span>
                                                                </div>
                                                                <span class="columns medium-4 small-3">{{::critique.writing}}</span>
                                                            </div>
                                                            <div class="row columns">
                                                                <div class="columns medium-8 small-9 text-right">
                                                                    <span class="md-body-1">Overall Rating</span>
                                                                </div>
                                                                <div class="columns medium-4 small-3">
                                                                    <span class="md-body-2">{{::critique.overall|number:1}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-btns">
                                                <span>{{::critique.commentCount||0}} comments</span>
                                                <span><a
                                                        ui-sref="video_critique({video_url_id: critique.project.data.url_id, url_id: critique.url_id})"><i
                                                        class="fa fa-comments"></i>View</a></span>
                                                <span ng-if="critique.user.id === ProfileCritiquesCtrl.user.id">
                                                    <a ui-sref="video_critique-edit({video_url_id: critique.project.data.url_id, url_id:critique.url_id})"><i
                                                            class="fa fa-pencil"></i>Edit</a>
                                                </span>
                                                <!--<span ng-if="critique.user.id === ProfileCritiquesCtrl.user.id">
                                                    <a ng-click="Vcritique.deleteCritique(critique, $event)"><i class="fa fa-close"></i>Delete</a>
                                                </span>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End main comment -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>