<section class="content comments" ng-if="!$ctrl.disable" ng-init="sortOrder='-created_at'">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="main-heading borderBottom" ng-if="!$ctrl.child">
                <div class="row padding-14">
                    <div class="medium-12 small-12 columns">
                        <div class="head-title">
                            <i class="fa fa-comments"></i>
                            <h4>Comments <span>({{$ctrl.comments.data.length}})</span></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment-box thumb-border" ng-if="!$ctrl.child">
                <div class="media-object stack-for-small">
                    <div class="media-object-section comment-img text-center">
                        <div class="comment-box-img">
                            <img ng-src="{{$ctrl.model.isLoggedIn.avatar || '/assets/img/avatar-1.png'}}" alt="comment">
                        </div>
                        <h6><a ui-sref="user.about({id: $ctrl.model.isLoggedIn.id})">{{$ctrl.model.isLoggedIn.fullName}}</a></h6>
                    </div>
                    <div class="media-object-section comment-textarea">
                        <form name="commentForm" id="commentForm" ng-submit="$ctrl.postComment()">
                            <textarea name="commentText" placeholder="Add a comment here.."
                                      linkify ng-model="$ctrl.model.myComment" ng-minlength="1"></textarea>
                            <input type="submit" name="submit" value="send">
                        </form>
                    </div>
                </div>
            </div>

            <div class="comment-sort text-right" ng-if="!$ctrl.child">
                <a ng-class="{'active':$ctrl.sortOrder === 'created_at|desc'}" ng-click="$ctrl.reSort('created_at|desc')">newest</a> |
                <a ng-class="{'active':$ctrl.sortOrder === 'created_at|asc'}" ng-click="$ctrl.reSort('created_at|asc')">oldest</a>
            </div>

            <!-- main comment -->
            <div class="main-comment showmore_one">
                <comment ng-repeat="comment in $ctrl.comments.data | orderBy: '-created_at'" comment="comment" parent="$ctrl.parent"></comment>
            </div>
            <!-- End main comment -->

        </div>
    </div>
</section>

<section class="content comments" ng-if="$ctrl.disable">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="main-heading borderBottom">
                <div class="row padding-14">
                    <div class="medium-12 small-12 columns">
                        <div class="head-title">
                            <i class="fa fa-comments"></i>
                            <h4>Comments disabled by Uploader</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>