<div class="grey lighten-3">
    <section class="container" layout="row" layout-align="center center">
    <md-content flex id="content" class="grey lighten-3">
        <md-card>
            <md-card-header>
                <!--<md-card-avatar>
                    <img ng-src="{{::VC.film.attributes.owner.attributes.avatar || './assets/img/avatar-1.png'}}" class="md-user-avatar"
                         alt="{{::VC.film.attributes.owner.attributes.first_name}} {{::VC.film.attributes.owner.attributes.last_name}}">
                </md-card-avatar>-->
                <md-card-header-text>
                    <span class="md-title">Your Notifications</span>
                </md-card-header-text>
                <!--<md-button class="md-icon-button" ng-click="NC.markAllAsRead()" aria-label="Mark all as read">
                    <md-icon md-svg-icon="eye"></md-icon>
                    <md-tooltip md-direction="left">Mark all as read</md-tooltip>
                </md-button>-->
                <md-button class="md-icon-button" ng-click="NC.refresh()" aria-label="Refresh">
                    <md-icon md-svg-icon="refresh"></md-icon>
                </md-button>
            </md-card-header>
        </md-card>
        <md-card>
            <div class="card-content">
                <md-progress-linear md-mode="{{AppData.NotificationsFeed.loaded}}" class="md-accent"></md-progress-linear>
                <md-list>
                    <md-list-item ng-repeat="n in AppData.NotificationsFeed.list" aria-label="Notification" class="md-2-line">
                        <md-icon md-svg-icon="{{::n.icon}}"></md-icon>
                        <div class="md-list-item-text">
                            <p ng-show="!(Body.checkContains(['like','unlike'], n.verb))">
                                <a ui-sref="user({id: n.object_data.owner.id})">
                                    {{::n.object_data.owner.name}}
                                </a>
                                <span ng-switch="::n.verb">
                                    <span ng-switch-when="watch">watched</span>
                                    <span ng-switch-when="react">reacted</span>
                                    <span ng-switch-when="judge">judged</span>
                                    <span ng-switch-when="comment">commented on</span>
                                    <span ng-switch-when="reply">replied to a comment on</span>
                                    <span ng-switch-when="upload">uploaded</span>
                                    <span ng-switch-when="message">messaged</span>
                                </span>
                                <span ng-repeat-start="obj in n.actiList">
                                    <span ng-if="!$first && !$last">, </span>
                                    <span ng-if="$last && n.actiList.length == 2"> and </span>
                                    <span ng-if="$last && n.actiList.length > 2">, and </span>
                                </span>
                                <a ui-sref="video({id: obj.url.args.id})" ng-repeat-end ng-bind="::obj.name"></a>

                                <a ng-if="::Body.checkContains(['reply','comment'], n.verb)&&n.object_data.targets.critique" ui-sref="user_critique({id: n.object_data.targets.critique.id})">
                                    {{::n.object_data.targets.critique.owner.name}}'s ctitique
                                </a>
                                <a ng-if="::Body.checkContains(['reply'], n.verb)&&n.object_data.targets.film" ui-sref="video({id: n.object_data.targets.film.id})">
                                    {{::n.object_data.targets.film.name}}
                                </a>
                            </p>

                            <p ng-show="n.verb==='like'">
                                <a ng-repeat="a in n.actors" ui-sref="user({id: a.id})">
                                    {{::a.name}}
                                    <span ng-if="!$last && n.actors.length > 2">, </span>
                                    <span ng-if="$last-1 && n.actors.length > 2">, and </span>
                                    <span ng-if="!$last && n.actors.length == 2"> and </span>
                                </a>
                                <span>gave</span>
                                <span ng-repeat-start="obj in n.actiList">
                                    <span ng-if="!$first && !$last">, </span>
                                    <span ng-if="$last && n.actiList.length == 2"> and </span>
                                    <span ng-if="$last && n.actiList.length > 2">, and </span>
                                </span>
                                <a ui-sref="video({id: obj.data.targets.film.id})" ng-repeat-end
                                   ng-bind="::obj.data.targets.film.name"></a>
                                <span>"Two Thumbs Up"</span>
                            </p>

                            <p ng-show="n.verb==='unlike'">
                                <a ng-repeat="a in n.actors" ui-sref="user({id: a.id})">
                                    {{::a.name}}
                                    <span ng-if="!$last && n.actors.length > 2">, </span>
                                    <span ng-if="$last-1 && n.actors.length > 2">, and </span>
                                    <span ng-if="!$last && n.actors.length == 2"> and </span>
                                </a>
                                <span>gave</span>
                                <span ng-repeat-start="obj in n.actiList">
                                    <span ng-if="!$first && !$last">, </span>
                                    <span ng-if="$last && n.actiList.length == 2"> and </span>
                                    <span ng-if="$last && n.actiList.length > 2">, and </span>
                                </span>
                                <a ui-sref="video({id: obj.data.targets.film.id})" ng-repeat-end
                                   ng-bind="::obj.data.targets.film.name"></a>
                                <span>"Two Thumbs Down"</span>
                            </p>

                            <p>
                                <abbr title="{{n.time+'Z'|date:'fullDate'}}" class="md-caption"
                                      am-time-ago="n.time+'Z'"></abbr>
                            </p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>

                    </md-list-item>
                </md-list>
            </div>
        </md-card>
    </md-content>
</section>
</div>