<dropdown-toggle close-on-click="true">
    <toggle>
        <a class="button tiny"><i class="fa fa-heart"></i>Add to</a>
    </toggle>
    <pane>
        <ul class="menu vertical">
            <li class="checkbox" ng-repeat="pl in $ctrl.playlists|orderBy:'name'">
                <input type="checkbox" id="pl{{$index}}" ng-model="bool"
                       ng-click="$ctrl.syncPlaylists(bool, pl)" ng-checked="$ctrl.isCheckedPlaylist(pl.id)">
                <label class="customLabel" for="pl{{$index}}">{{pl.name}}</label>
            </li>
            <hr class="thin">
            <li ng-if="!$ctrl.newPlInput">
                <a ng-click="$ctrl.toggleNewPlInput()" class="button tiny">
                    <i class="fa fa-plus"></i> Create new playlist
                </a>
            </li>
            <li ng-if="$ctrl.newPlInput">
                <form>
                    <input type="text" ng-model="$ctrl.model.newName" ng-maxlength="75" placeholder="Playlist Name">

                    <div class="row" style="margin-top: 5px">
                        <div class="columns medium-6">
                            <button class="button tiny hollow" type="button" ng-click="$ctrl.toggleNewPlInput(true)">Cancel</button>
                        </div>
                        <div class="columns medium-6 text-right">
                            <button class="button tiny hollow" ng-disabled="!$ctrl.model.newName" ng-click="$ctrl.newPlaylist()">Create</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </pane>
</dropdown-toggle>