<!--breadcrumbs-->
<section id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><i class="fa fa-home"></i><a ui-sref="home">Home</a></li>
                    <li>
                        <a ui-sref="user.about({url_id: VCC.critique.project.data.owner.data.url_id})">{{::VCC.critique.project.data.owner.data.fullName}}</a>
                    </li>
                    <li>
                        <a ui-sref="video({url_id: VCC.critique.project.data.url_id})">{{::VCC.critique.project.data.name}}</a>
                    </li>
                    <li>
                        <span class="show-for-sr">Current: </span> Critique by {{::VCC.critique.user.fullName}}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--end breadcrumbs-->

<div class="row">
    <!-- left side content area -->
    <div class="large-8 columns">
        <!-- single post description -->
        <section class="singlePostDescription">
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="heading">
                        <h5>
                            Critique by
                            <a ui-sref="user.about({url_id:VCC.critique.user.url_id})">
                                {{::VCC.critique.user.fullName}}
                            </a>
                            on
                            <abbr title="{{::VCC.critique.created_at|amUtc|amLocal|amDateFormat:'lll'}}" class="md-caption"
                                  ng-bind="::VCC.critique.created_at|amUtc|amLocal|amDateFormat:'lll'"></abbr> <span class="grey-text" ng-if="VCC.critique.edited_at && !Body.isSame(VCC.critique.created_at, VCC.critique.edited_at)">Edited:
                            <abbr title="{{::VCC.critique.edited_at|amUtc|amLocal|amDateFormat:'lll'}}" class="md-caption"
                                  ng-bind="::VCC.critique.edited_at|amUtc|amLocal|amDateFormat:'lll'"></abbr></span>

                            <a ui-sref="video_critique-edit({video_url_id:VCC.critique.project.data.url_id, url_id:VCC.critique.url_id})"
                               ng-if="AppData.User.id == VCC.critique.user_id" class="fa fa-edit pull-right"></a>
                        </h5>
                    </div>
                    <div class="description">
                        <div class="row clearfix">
                            <div class="columns medium-7">
                                <p ng-bind="::VCC.critique.body"></p>
                            </div>
                            <div class="columns medium-5">
                                <div class="row" ng-if="::VCC.critique.private && AppData.User.id != VCC.critique.user_id">
                                    <h3 class="text-center">Private</h3>

                                    <div class="row columns">
                                        <div class="columns small-6 text-right">
                                            <span class="md-body-1">Overall Rating</span>
                                        </div>
                                        <div class="columns small-6">
                                            <span class="md-body-2">{{::VCC.critique.overall|number:1}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row columns" ng-if="::!VCC.critique.private||AppData.User.id == VCC.critique.user_id">
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Acting</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.performances}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Cinematography</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.cinematography}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Direction</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.direction}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Editing</span>
                                        </div>
                                        <span class="columns medium-4 small-6" >{{::VCC.critique.structure}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Music</span>
                                        </div>
                                        <span class="columns medium-4 small-6" >{{::VCC.critique.music}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Originality</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.originality}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Pacing</span>
                                        </div>
                                        <span class="columns medium-4 small-6" >{{::VCC.critique.pacing}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Production Value</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.production}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Sound Quality</span>
                                        </div>
                                        <span class="columns medium-4 small-6" >{{::VCC.critique.audio}}</span>
                                    </div>
                                    <div class="row columns" style="border-bottom: 1px solid #ddd;">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Writing</span>
                                        </div>
                                        <span class="columns medium-4 small-6">{{::VCC.critique.writing}}</span>
                                    </div>
                                    <div class="row columns">
                                        <div class="columns medium-8 small-6 text-right">
                                            <span class="md-body-1">Overall Rating</span>
                                        </div>
                                        <div class="columns medium-4 small-6">
                                            <span class="md-body-2">{{::VCC.critique.overall|number:1}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </section>
        <!-- End single post description -->

        <!-- Comments -->
        <comments-block comments="VCC.comments" disable="false" parent="commentsParent"></comments-block>
        <!-- End Comments -->

    </div>
    <!-- end left side content area -->
    <!-- sidebar -->
    <div class="large-4 columns">
        <aside class="secBg sidebar">
            <div class="row">
                <!-- most view Widget -->
                <div class="large-12 medium-7 medium-centered columns">
                    <div class="widgetBox">
                        <div class="widgetTitle">
                            <h5>Watch The Video</h5>
                        </div>
                        <div class="widgetContent">
                            <div class="video-box thumb-border">
                                <a class="video-img-thumb" ui-sref="video({url_id:VCC.critique.project.data.url_id})">
                                    <img ng-src="{{::VCC.critique.project.data.thumbnail_url||'./assets/img/default_video_thumbnail.jpg'}}" alt="Watch The Video">
                                    <!--<a href="#" class="hover-posts">
                                        <span><i class="fa fa-play"></i>Watch Video</span>
                                    </a>-->
                                </a>
                                <div class="video-box-content">
                                    <h6><a ui-sref="video({url_id:VCC.critique.project.data.url_id})">{{::VCC.critique.project.data.name}}</a></h6>

                                    <p>
                                        <span><i class="fa fa-user"></i><a ui-sref="user.about({url_id: VCC.critique.project.data.owner.data.url_id})">{{::VCC.critique.project.data.owner.data.fullName}}</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end most view Widget -->

                <!-- ad banner widget -->
                <div class="large-12 medium-7 medium-centered columns">
                    <div class="widgetBox">
                        <div class="widgetTitle">
                            <h5>Recent post videos</h5>
                        </div>
                        <div class="widgetContent">
                            <div class="advBanner text-center">
                                <broadstreet-zone zone="51349" width="300" height="250"></broadstreet-zone>
                                <!--<a href="#"><img src="./assets/images/sideradv.png" alt="sidebar adv"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end ad banner widget -->
            </div>
        </aside>
    </div>
    <!-- end sidebar -->
</div>
