<div aria-label="Reaction">
    <h3>How'd this make you feel?</h3>
    <input type="text" ng-model="selected" placeholder="Search a feeling">
    <ul style="height: 300px;overflow-y: scroll;">
        <li class="angucomplete-row" ng-repeat="reaction in emotions|filter:selected|orderBy:'name'" ng-click="selectedEmotion(reaction)">
            <a href="#">
                <md-icon class="emoticon" md-svg-icon="{{::reaction.icon}}"></md-icon>&nbsp;{{::reaction.name}}
            </a>
        </li>
    </ul>
    <br>
    <button class="button tiny" ng-click="cancel()">Cancel</button>
    <!--<button class="button tiny primary pull-right" ng-click="closeDialog()">Submit</button>-->
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--<div aria-label="Reaction">
    <h3>How'd this make you feel?</h3>
    <angucomplete-alt id="em1"
                      autofocus
                      placeholder="Search a feeling"
                      selected-object="selectedEmotion"
                      local-data="emotions"
                      search-fields="name"
                      title-field="name"
                      description-field="icon"
                      minlength="0"
                      template-url="my-custom-template.html"
                      input-class="form-control form-control-small"/>
    <br>
    <button class="button tiny" ng-click="cancel()">Cancel</button>
    &lt;!&ndash;<button class="button tiny primary pull-right" ng-click="closeDialog()">Submit</button>&ndash;&gt;
    <button ng-click="cancel()" class="close-button" aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script type="text/ng-template" id="my-custom-template.html">
    <div class="angucomplete-holder input" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
        <input ng-model="searchStr"
               autofocus
               ng-disabled="disableInput"
               type="text"
               placeholder="{{placeholder}}"
               ng-focus="onFocusHandler()"
               class="{{inputClass}}"
               ng-focus="resetHideResults()"
               ng-blur="hideResults($event)"
               autocapitalize="off"
               autocorrect="off"
               autocomplete="off"
               ng-change="inputChangeHandler(searchStr)"/>
        <div class="angucomplete-dropdown" ng-show="showDropdown" style="height: 300px;overflow-y: scroll;">
            <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
            <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
            <div class="angucomplete-row" ng-repeat="result in results|orderBy:'title'" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
                <div class="angucomplete-title" ng-if="matchClass">
                    <md-icon class="emoticon" md-svg-icon="{{result.description}}"></md-icon>
                    <span ng-bind-html="result.title"></span>
                </div>
                <div class="angucomplete-title" ng-if="!matchClass">
                    <md-icon class="emoticon" md-svg-icon="{{result.description}}"></md-icon> {{ result.title }}
                </div>
                &lt;!&ndash;<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>&ndash;&gt;
                &lt;!&ndash;<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>&ndash;&gt;
            </div>
            &lt;!&ndash;<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
                <div class="angucomplete-title">Select custom country '{{ searchStr }}'</div>
            </div>&ndash;&gt;
        </div>
    </div>
</script>-->
