<div class="content comments">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="main-heading borderBottom">
                <div class="row padding-14">
                    <div class="medium-12 small-12 columns">
                        <div class="head-title">
                            <i class="fa fa-comments"></i>
                            <h4>Editing Critique</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-comment">
                <div class="media-object stack-for-small">
                    <div class="media-object-section comment-img text-center">
                        <div class="comment-box-img">
                            <img ng-src="{{::$ctrl.$scope.editedCritique.user.avatar || '/assets/img/avatar-1.png'}}"
                                 alt="comment">
                        </div>
                    </div>
                    <div class="media-object-section comment-desc" ng-if="$ctrl.$scope.editedCritique.type === 'video'">
                        <div class="row" style="border-left: 1px solid #CCCCCC">
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Acting</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.performances" max="$ctrl.$scope.ratingMax"
                                            on-hover="(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Cinematography</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.cinematography" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Direction</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.direction" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Editing</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.structure" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Music</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.music" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Originality</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.originality" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Pacing</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.pacing" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Production Value</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.production" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Sound Quality</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.audio" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Writing</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.writing" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <hr class="thin">
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Overall Rating</span>
                                </div>
                                <div class="columns small-4">
                                    <span class="">{{$ctrl.$scope.editedCritique.overall|number:1}}/10</span>
                                </div>
                            </div>
                            <hr class="thin">
                            <br>

                            <div class="columns">
                                <div class="input">
                                    <label for="desc">Care to elaborate?</label>
                                        <textarea id="desc" ng-model="$ctrl.$scope.editedCritique.body" columns="1" rows="5"
                                                  ng-maxlength="5000"></textarea>
                                </div>
                                <div class="checkbox">
                                    <input id="checkboxPrivate" type="checkbox" ng-model="$ctrl.$scope.editedCritique.private">

                                    <label class="customLabel" for="checkboxPrivate" style="margin-left: 0;margin-right: 0;font-size: 0.875rem;">Make Private?</label>
                            <span class="warning badge" ng-init="$ctrl.$scope.helpToggle=false" ng-click="$ctrl.$scope.helpToggle=!$ctrl.$scope.helpToggle"><i
                                    class="fa fa-question"></i></span>
                                </div>
                                <p ng-show="$ctrl.$scope.helpToggle" class="help-text">By choosing this "Make private" Option,
                                    individual
                                    rating categories, such as "Production Value", "Originality", etc. will not be
                                    publicly
                                    visible to users other than you and the project author. However, the overall
                                    rating
                                    generated from these individual results will always be publicly visible.</p>

                                <div class="input">
                                    <label>
                                        <span class="has-tip"
                                      tooltip="A project needs 5 or more Nominations, for the exact same Award, by different users in order to secure a win for that particular award.">Award Worthy? Nominate it!</span>
                                        <select ng-model="dialogModel.awardId" disabled style="min-width: 200px;">
                                            <option value="">No</option>
                                            <option value="{{a.id}}" ng-repeat="a in $ctrl.$scope.awardsList.data|orderBy:'name'"
                                                    ng-bind="::a.name"></option>
                                        </select>
                                    </label>

                                </div>
                            </div>
                            <button class="button tiny" ui-sref="video_critique({video_url_id: $ctrl.$rootScope.$stateParams.video_url_id, url_id: $ctrl.$scope.critique.url_id}) ">Cancel</button>
                            <button class="button tiny primary pull-right" ng-click="$ctrl.$scope.update()">Save Changes</button>
                        </div>
                    </div>
                    <div class="media-object-section comment-desc" ng-if="$ctrl.$scope.editedCritique.type === 'script'">
                        <div class="row" style="border-left: 1px solid #CCCCCC">
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Concept</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.concept" max="$ctrl.$scope.ratingMax"
                                            on-hover="(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Presentation</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.presentation" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Character Development</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.characters" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Structure</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.structure" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Quality of Dialogue</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.dialogue" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Originality</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.originality" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Pacing</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.pacing" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Theme</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.theme" max="$ctrl.$scope.ratingMax"
                                            on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Style</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.style" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Plot</span>
                                </div>
                                <div class="columns small-8">
                                    <rating value="$ctrl.$scope.editedCritique.writing" max="$ctrl.$scope.ratingMax" on-hover="$ctrl.$scope.hoveringOver(value)"
                                            on-leave="$ctrl.$scope.overStar = null"></rating>
                                </div>
                            </div>
                            <hr class="thin">
                            <div class="columns row">
                                <div class="columns small-4 text-right">
                                    <span class="">Overall Rating</span>
                                </div>
                                <div class="columns small-4">
                                    <span class="">{{$ctrl.$scope.editedCritique.overall|number:1}}/10</span>
                                </div>
                            </div>
                            <hr class="thin">
                            <br>

                            <div class="columns">
                                <div class="input">
                                    <label for="desc">Care to elaborate?</label>
                                        <textarea id="desc" ng-model="$ctrl.$scope.editedCritique.body" columns="1" rows="5"
                                                  ng-maxlength="5000"></textarea>
                                </div>
                                <div class="checkbox">
                                    <input id="checkboxPrivate" type="checkbox" ng-model="$ctrl.$scope.editedCritique.private">

                                    <label class="customLabel" for="checkboxPrivate" style="margin-left: 0;margin-right: 0;font-size: 0.875rem;">Make Private?</label>
                            <span class="warning badge" ng-init="$ctrl.$scope.helpToggle=false" ng-click="$ctrl.$scope.helpToggle=!helpToggle"><i
                                    class="fa fa-question"></i></span>
                                </div>
                                <p ng-show="$ctrl.$scope.helpToggle" class="help-text">By choosing this "Make private" Option,
                                    individual
                                    rating categories, such as "Production Value", "Originality", etc. will not be
                                    publicly
                                    visible to users other than you and the project author. However, the overall
                                    rating
                                    generated from these individual results will always be publicly visible.</p>

                                <div class="input">
                                    <label>
                                        <span class="has-tip"
                                      tooltip="A project needs 5 or more Nominations, for the exact same Award, by different users in order to secure a win for that particular award.">Award Worthy? Nominate it!</span>
                                        <select ng-model="dialogModel.awardId" disabled style="min-width: 200px;">
                                            <option value="">No</option>
                                            <option value="{{a.id}}" ng-repeat="a in $ctrl.$scope.awardsList.data|orderBy:'name'"
                                                    ng-bind="::a.name"></option>
                                        </select>
                                    </label>

                                </div>
                            </div>
                            <button class="button tiny" ui-sref="video_critique({video_url_id: $ctrl.$rootScope.$stateParams.video_url_id, url_id: $ctrl.$scope.critique.url_id}) ">Cancel</button>
                            <button class="button tiny primary pull-right" ng-click="$ctrl.$scope.update()">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>