<li ng-repeat="n in AppData.RawNotifications.list|orderBy:'-updated_at'" aria-label="Notification" side-nav-notif
              ui-sref="{{::n.main_url.state}}({{::n.main_url.args}})" ng-class="{'indigo lighten-4': is_read}" class="md-3-line">
    <i class="fa fa-chevron-right" md-svg-icon="{{::n.icon}}"></i>
    <div class="md-list-item-text">
        <p ng-show="!(Body.checkContains(['react','comment','reply','like','unlike','watch','judge'], n.verb))">
            <a ng-repeat="a in n.actors" ui-sref="user({id: a.id})">
                {{::a.name}}<span ng-if="!$last">, </span>
            </a>
            <span ng-switch="::n.verb">
                <span ng-switch-when="judge">judged</span>
                <span ng-switch-when="upload">uploaded</span>
                <span ng-switch-when="message">messaged</span>
            </span>
           <span ng-repeat-start="obj in n.actiList">
                <span ng-if="!$first && !$last">, </span>
                <span ng-if="$last && n.actiList.length == 2"> and </span>
                <span ng-if="$last && n.actiList.length > 2">, and </span>
            </span>
            <a ui-sref="video({id: obj.url.args.id})" ng-repeat-end ng-bind="::obj.name"></a>
        </p>

        <p ng-show="n.verb==='judge'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            judged <b ng-pluralize count="n.activity_count"
                          when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                          'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>
        </p>

        <p ng-show="n.verb==='watch'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.watcher.name}}',
                  'other': '{{::n.activities[0].object_data.watcher.name}} and {} others'}"></span>
            watched <b ng-pluralize count="n.activity_count"
                          when="{'1': '{{::n.activities[0].object_data.name}}',
                          'other': '{{::n.activities[0].object_data.name}} and {} other videos.'}"></b>
        </p>

        <p ng-show="n.verb==='react'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            reacted to <b ng-pluralize count="n.activity_count"
                             when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                          'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>
        </p>

        <p ng-show="n.verb==='comment'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            commented on
            <b ng-pluralize ng-if="n.activities[0].object_data.targets.critique" count="n.activity_count"
                  when="{'1': '{{::n.activities[0].object_data.targets.critique.owner.name}}\'s critique.',
                  'other': '{{::n.activities[0].object_data.targets.critique.owner.name}}\'s critique and {} other critiques.'}"></b>

            <b ng-pluralize ng-if="n.activities[0].object_data.targets.film" count="n.activity_count"
                  when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                  'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>

        </p>

        <p ng-show="n.verb==='reply'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            replied to a comment on
            <b ng-pluralize ng-if="n.activities[0].object_data.targets.critique" count="n.activity_count"
                  when="{'1': '{{::n.activities[0].object_data.targets.critique.owner.name}}\'s critique.',
                  'other': '{{::n.activities[0].object_data.targets.critique.owner.name}}\'s critique and {} other critiques.'}"></b>

            <b ng-pluralize ng-if="n.activities[0].object_data.targets.film" count="n.activity_count"
                  when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                  'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>
        </p>

        <p ng-show="n.verb==='like'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            <span>gave</span>
           <b ng-pluralize count="n.activity_count"
                 when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                          'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>
            <span>"Two Thumbs Up"</span>
        </p>

        <p ng-show="n.verb==='unlike'">
            <span ng-pluralize count="n.actor_count"
                  when="{'1': '{{::n.activities[0].object_data.owner.name}}',
                  'other': '{{::n.activities[0].object_data.owner.name}} and {} others'}"></span>
            <span>gave</span>
           <b ng-pluralize count="n.activity_count"
                 when="{'1': '{{::n.activities[0].object_data.targets.film.name}}',
                          'other': '{{::n.activities[0].object_data.targets.film.name}} and {} other videos.'}"></b>
            <span>"Two Thumbs Down"</span>
        </p>

        <p>
            <abbr title="{{::n.created_at+'Z'|date:'fullDate'}}" class="md-caption" am-time-ago="::n.created_at+'Z'"></abbr>
        </p>
    </div>
    <md-divider ng-if="!$last"></md-divider>

</li>
<li ui-sref="notifications" ng-click="$mdSidenav('right').close();">See All</li>