<div class="">
    <div class="media-object stack-for-small reply-comment" ng-repeat-start="reply in comment.replies">
        <div class="media-object-section comment-img text-center">
            <div class="comment-box-img">
                <img ng-src="{{::reply.ownerAvatar || './assets/img/avatar-1.png'}}" alt="comment">
            </div>
        </div>
        <div class="media-object-section comment-desc">
            <div class="comment-title">
                <span class="name"><a ui-sref="user.about({url_id: reply.ownerUrlId})">{{::reply.ownerFullName}}</a> Said:</span>
            <span class="time float-right"><i class="fa fa-clock-o"></i>
                <abbr title="{{::reply.createdAt|amUtc|amLocal|amDateFormat:'lll'}}" am-time-ago="::reply.createdAt"></abbr>
            </span>
            </div>
            <div class="comment-text">
                <p ng-show="editComment.id!=reply.id" ng-bind="reply.body"></p>
                <edit-comment-block ng-if="reply.author.id === model.isLoggedIn.id && !!editCommentMode"></edit-comment-block>
            </div>
            <div class="comment-btns">
            <span><a href="#"><i class="fa fa-thumbs-o-up"></i></a> | <a href="#"><i
                    class="fa fa-thumbs-o-down"></i></a></span>
                <span><a ng-click="toggleReplyInput(reply)"><i class="fa fa-share"></i>Reply</a></span>
            </div>
        </div>
    </div>
    <reply-block flex="95" ng-repeat-end target-comment="targetComment" parent="commentsParent" ng-if="!!showReplyInput && targetComment == reply"></reply-block>
</div>