<!--breadcrumbs-->
<section id="breadcrumb" class="breadMargin">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><i class="fa fa-home"></i><a ui-sref="home">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span>Winners
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section><!--end breadcrumbs-->

<section class="content">
    <!-- newest video -->
    <div class="main-heading removeMargin">
        <div class="row secBg padding-14 removeBorderBottom">
            <div class="small-12 columns">
                <div class="head-title">
                    <i class="fa fa-star"></i>
                    <h4>Winners</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row secBg">
        <div class="large-12 columns">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Audience Awards">
                    <md-content class="">
                        <h3>
                            <select ng-model="WC.date" ng-change="WC.fetchWinners()">
                                <option value="2016-09-01 00:00:00">September 2016</option>
                                <option value="2016-10-01 00:00:00">October 2016</option>
                            </select>
                        </h3>
                        <table class="stack" ng-repeat="award in WC.awards">
                            <caption>
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x" style="color: #EEEEEE;"></i>
                                    <i class="fa fa-trophy fa-stack-1x fa-inverse" style="color: #FFC10E;"></i>
                                </span>
                                {{::award.name}}
                            </caption>
                            <thead>
                            <tr>
                                <th width="350">Title</th>
                                <th width="150">Director</th>
                                <th width="150">Type</th>
                                <th width="150">Genres</th>
                                <th width="200">Country</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="award.winners.length === 0">
                                <td colspan="5">No winners this month</td>
                            </tr>
                            <tr ng-if="award.winners.length" ng-repeat="winner in award.winners|orderBy:'project.name'">
                                <!--<td></td>-->
                                <td><a ui-sref="video({url_id: winner.project.url_id})" ng-bind="winner.project.name"></a></td>
                                <td ng-bind="winner.project.director"></td>
                                <td ng-bind="winner.project.type.name"></td>
                                <td><span ng-repeat="genre in winner.project.genres">{{::genre.name}}<span ng-if="!$last">,</span> </span></td>
                                <td ng-bind="winner.project.filming_country.name"></td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Top Performers">
                    <md-content class="">
                        <h3>Top 3 Trending</h3>
                        <div layout="row">
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://cdn.filepicker.io/api/file/r6rU5cw3T5wbwpKTRec7?cache=true"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: 'MXZ9NZNn4Q'})" class="md-title">Vassia Papailiou</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Dj93dPdpMQ'})" ng-src="https://res.cloudinary.com/indiewise/image/upload/v1474013720/gjjpdair2m5rqzupjkxp.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Dj93dPdpMQ'})" class="md-subhead">Under The Clock</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://cdn.filepicker.io/api/file/UIcTHMSRUPqkCmGab9vg?cache=true"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: '3Xe682Em4j'})" class="md-title">Arman Sargsyan</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Zaz9AWLb9j'})" ng-src="https://res.cloudinary.com/indiewise/image/upload/v1473790734/f7denivx5ihb0udtgqgv.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Zaz9AWLb9j'})" class="md-subhead">Inside my head (Official Selection to IndieWise Virtual Festival)</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://lh5.googleusercontent.com/-4VQA-rVdI4E/AAAAAAAAAAI/AAAAAAAAAGI/7tHEN1Lmc8M/photo.jpg?sz=50"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: 'Mjy3OGx3vQ'})" class="md-title">Hemant Pandya Production</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Ya3z47qYbj'})" ng-src="https://img.youtube.com/vi/XUeMcp-uUSw/hqdefault.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Ya3z47qYbj'})" class="md-subhead">WO-men (the discomfort in inequality)</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>

                        <h3>Top 3 Highest Rated</h3>
                        <div layout="row">
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://cdn.filepicker.io/api/file/r6rU5cw3T5wbwpKTRec7?cache=true"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: 'MXZ9NZNn4Q'})" class="md-title">Vassia Papailiou</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Dj93dPdpMQ'})" ng-src="https://res.cloudinary.com/indiewise/image/upload/v1474013720/gjjpdair2m5rqzupjkxp.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Dj93dPdpMQ'})" class="md-subhead">Under The Clock</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://getindiewise.com/assets/img/default_avatar.jpg"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: 'VXOWLbo8xX'})" class="md-title">Ragip Taranç</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'EQA7Md2RAj'})" ng-src="https://img.youtube.com/vi/SEqlCj1CvNU/hqdefault.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'EQA7Md2RAj'})" class="md-subhead">Fermanin mi var?</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://cdn.filepicker.io/api/file/c1iaKW9S4CYWoMBGZmgv?cache=true"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: '9XLmv6eNyj'})" class="md-title">Darijo Bosnjak</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Bj65D3pyvX'})" ng-src="https://img.youtube.com/vi/Okx8H7PH_08/hqdefault.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Bj65D3pyvX'})" class="md-subhead">Some New Kids</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>

                        <h3>Top 3 Award-Winning</h3>
                        <div layout="row">
                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://cdn.filepicker.io/api/file/r6rU5cw3T5wbwpKTRec7?cache=true"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: 'MXZ9NZNn4Q'})" class="md-title">Vassia Papailiou</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: 'Dj93dPdpMQ'})" ng-src="https://res.cloudinary.com/indiewise/image/upload/v1474013720/gjjpdair2m5rqzupjkxp.jpg" class="md-card-image" alt="Washed Out">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: 'Dj93dPdpMQ'})" class="md-subhead">Under The Clock</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>

                            <div flex>
                                <md-card>
                                    <md-card-header>
                                        <md-card-avatar>
                                            <img src="https://cdn.filepicker.io/api/file/c1iaKW9S4CYWoMBGZmgv?cache=true"/>
                                        </md-card-avatar>
                                        <md-card-header-text>
                                            <a ui-sref="user.about({ url_id: '9XLmv6eNyj'})" class="md-title">Darijo Bosnjak</a>
                                            <a ui-sref="video({ url_id: 'Bj65D3pyvX'})" class="md-subhead">Some New Kids</a>
                                            <!--<span class="md-subhead">Material</span>-->
                                        </md-card-header-text>
                                    </md-card-header>
                                </md-card>
                                <md-card>
                                    <md-card-header>
                                        <md-card-avatar>
                                            <img src="https://cdn.filepicker.io/api/file/nJNeWQaoRICE3RAObIJV?cache=true"/>
                                        </md-card-avatar>
                                        <md-card-header-text>
                                            <a ui-sref="user.about({ url_id: 'Dj93dPpg3Q'})" class="md-title">Drew Mewse</a>
                                            <a ui-sref="video({ url_id: 'Napd5pMwoa'})" class="md-subhead">Pandora</a>
                                            <!--<span class="md-subhead">Material</span>-->
                                        </md-card-header-text>
                                    </md-card-header>
                                </md-card>
                                <md-card>
                                    <md-card-header>
                                        <md-card-avatar>
                                            <img src="https://cdn.filepicker.io/api/file/UIcTHMSRUPqkCmGab9vg?cache=true"/>
                                        </md-card-avatar>
                                        <md-card-header-text>
                                            <a ui-sref="user.about({ url_id: 'Zaz9AWLb9j'})" class="md-title">Arman Sargsyan</a>
                                            <a ui-sref="video({ url_id: 'Zaz9AWLb9j'})" class="md-subhead">Inside my head</a>
                                            <!--<span class="md-subhead">Material</span>-->
                                        </md-card-header-text>
                                    </md-card-header>
                                </md-card>
                            </div>

                            <md-card flex>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img src="https://graph.facebook.com/v2.6/1808782572736015/picture?type=normal"/>
                                    </md-card-avatar>
                                    <md-card-header-text>
                                        <a ui-sref="user.about({ url_id: '0a2kWelryQ'})" class="md-title">Redmond Butling</a>
                                        <!--<span class="md-subhead">Material</span>-->
                                    </md-card-header-text>
                                </md-card-header>
                                <img style="max-height: 159px" ui-sref="video({ url_id: '7XY3olzxMa'})" ng-src="https://res.cloudinary.com/indiewise/image/upload/v1473856649/qozvpmq2zydnkobfaeqc.jpg" class="md-card-image" alt="X">
                                <md-card-title>
                                    <md-card-title-text>
                                        <a ui-sref="video({ url_id: '2jkxnOEWMa'})" class="md-subhead">´´Oitavo Andar´´ (English subs)</a>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card>
                        </div>

                    </md-content>
                </md-tab>
                <md-tab label="IndustryBOOST Competition 2016">
                    <md-content class="text-center">
                        <a href="/9XLmv6ZxGj">
                            <img src="https://www.filestackapi.com/api/file/Fun04zQ0RSiNppo9ICdq" alt="Safe Train">
                        </a>
                    </md-content>
                </md-tab>
            </md-tabs>

        </div>
    </div>

</section>
