<!-- profile settings -->
<section class="submit-post">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="heading">
                <i class="fa fa-upload"></i>
                <h4>Add a New Project</h4>
            </div>
            <div class="row">
                <div class="large-12 columns">

                    <form data-abide ng-submit="UC.submitNewVideo()" name="NewVideoForm">
                        <div data-abide-error class="alert callout" style="display: none;">
                            <p><i class="fa fa-exclamation-triangle"></i>
                                There are some errors in your form.</p>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <label>Title <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                    <input type="text" ng-model="UC.newVideo.name"
                                           placeholder="enter your video title..." required>
                                    <span class="form-error">
                                        Yo, you had better fill this out, it's required.
                                    </span>
                                </label>
                            </div>
                            <div class="large-12 columns">
                                <h6 class="borderBottom">Choose Video/Script Method</h6>

                                <!--<p><strong>Note:</strong> Please choose one of the following ways to embed the video
                                    into your post, the video is determined in the order: Video Code > Video URL > Video
                                    File.</p>-->
                            </div>
                            <div class="large-12 columns">
                                <div class="radio" style="margin-bottom: 20px;">
                                    <input type="radio" ng-model="UC.uploadType" value="3" ng-click="UC.newVideo.hosting_type = 'script'" name="videolink0" id="videolink0" checked>
                                    <label class="customLabel" for="videolink0">Script PDF File</label>
                                    <br class="hide-for-medium">
                                    <br class="hide-for-medium">
                                    <input type="radio" ng-model="UC.uploadType" value="1" name="videolink1" id="videolink1">
                                    <label class="customLabel" for="videolink1">Upload MP4 Video File. (Max Size: 1GB)</label>
                                    <br class="hide-for-medium">
                                    <br class="hide-for-medium">
                                    <input type="radio" ng-model="UC.uploadType" value="2" ng-click="UC.newVideo.hosting_type = 'youtube'" name="videolink2" id="videolink2" checked>
                                    <label class="customLabel" for="videolink2">YouTube Video URL</label>
                                    <input type="radio" ng-model="UC.uploadType" value="2" ng-click="UC.newVideo.hosting_type = 'vimeo'" name="videolink3" id="videolink3" checked>
                                    <label class="customLabel" for="videolink3">Vimeo Video URL</label>
                                </div>
                                <div ng-if="UC.uploadType == 1">
                                    <div class="large-12 columns">
                                        <label>
                                            <input filepicker type="filepicker-dragdrop" on-success="UC.onSuccess(event.fpfile)"
                                                   data-fp-services="computer,dropbox,video,url,googledrive,skydrive,clouddrive"
                                                   data-fp-mimetype="video/*" data-fp-store-path="{{UC.getUserFilmPath()}}"/>
                                        </label>
                                        <!--<hr>-->
                                    </div>
                                </div>
                                <div ng-if="UC.uploadType == 3">
                                    <div class="large-12 columns">
                                        <label>
                                            <input filepicker type="filepicker-dragdrop" on-success="UC.onSuccess(event.fpfile)"
                                                   data-fp-services="computer,dropbox,url,googledrive,skydrive,clouddrive"
                                                   data-fp-extension=".pdf" data-fp-store-path="{{UC.getUserFilmPath()}}"/>
                                        </label>
                                        <!--<hr>-->
                                    </div>
                                </div>
                                <div ng-if="UC.uploadType == 2">
                                    <div class="large-12 columns">
                                        <!--<div class="large-12 columns">-->
                                        <label>{{UC.newVideo.hosting_type | uppercase}} Video URL <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                            <input type="url" ng-model="UC.newVideo.video_url" ng-required="UC.uploadType == 2"
                                                   ng-change="UC.getThumbnailUrl(UC.newVideo.video_url)">
                                        </label>
                                        <hr ng-if="UC.newVideo.video_url != ''">
                                        <embed-video ng-if="UC.newVideo.video_url != ''" ng-href="{{UC.newVideo.video_url}}"
                                                     width="100%" height="200"></embed-video>
                                        <!--</div>-->
                                    </div>
                                </div>

                            </div>

                            <div class="large-12 columns">
                                <h6 class="borderBottom">Upload Thumbnail/Artwork</h6>
                            </div>
                            <div>
                                <div class="large-12 columns">
                                    <div class="checkbox">
                                        <input id="uploadOwnArt" type="checkbox" ng-model="uploadOwnArt">
                                        <label class="customLabel" style="padding-left: 20px;" for="uploadOwnArt">Upload your own video thumbnail/artwork ?</label>
                                    </div>
                                </div>
                                <div class="large-12 columns" ng-if="!uploadOwnArt">
                                    <label>Poster Artwork/Video Thumbnail URL
                                        <input type="url" ng-model="UC.newVideo.thumbnail_url">
                                    </label>
                                    <hr ng-if="UC.newVideo.thumbnail_url != ''">
                                    <img ng-if="UC.newVideo.thumbnail_url != ''" ng-src="{{UC.newVideo.thumbnail_url}}"
                                         alt="Video Thumbnail URL">
                                </div>
                                <div class="large-12 columns" ng-if="!!uploadOwnArt">
                                    <img ngf-thumbnail="UC.newVideo.thumbnail_url || 'https://getindiewise.com/assets/img/default_video_thumbnail.jpg'" class="md-card-image"
                                         style="max-width: 560px"/>
                                    <br>
                                    <div class="row">
                                        <div class="large-12 columns">
                                            <button type="button" class="tiny button" ng-click="UC.pickArtwork()">Select Thumbnail/Artwork</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="large-12 columns">
                                <label>Year of Completion <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                    <input type="text" placeholder="----" ng-model="UC.newVideo.completionDate" ng-maxlength="4" required/>
                                    <span ng-messages="" class="form-error">
                                        <span ng-message="">Yo, you had better fill this out, it's required.</span>
                                    </span>
                                </label>
                            </div>
                            <div class="large-12 columns">
                                <label>Description
                                    <textarea ng-model="UC.newVideo.description" ng-maxlength="3000"></textarea>
                                </label>
                            </div>
                            <div class="large-12 columns row" ng-if="UC.newVideo.hosting_type !== 'script'">
                                <div class="large-4 columns">
                                    <label>Director <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <input type="text" ng-model="UC.newVideo.director" required>
                                    </label>

                                </div>
                                <div class="large-4 columns">
                                    <label>Writer <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <input type="text" ng-model="UC.newVideo.writer" required>
                                    </label>

                                </div>
                                <div class="large-4 columns">
                                    <label>Producers <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <input type="text" ng-model="UC.newVideo.producers" required>
                                    </label>

                                </div>
                            </div>
                            <div class="large-12 columns row" ng-if="UC.newVideo.hosting_type === 'script'">
                                <div class="large-6 columns">
                                    <label>Writer <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <input type="text" ng-model="UC.newVideo.writer" required>
                                    </label>

                                </div>
                                <div class="large-6 columns">
                                    <label>Producers <sup class="fa fa-asterisk" aria-hidden="true"></sup>
                                        <input type="text" ng-model="UC.newVideo.producers" >
                                    </label>

                                </div>
                            </div>
                            <div class="large-12 columns" ng-if="UC.newVideo.hosting_type !== 'script'">
                                <div class="post-meta">
                                    <label>Key Cast:
                                        <textarea ng-model="UC.newVideo.keyCast" placeholder="Key Cast"></textarea>
                                    </label>
                                </div>
                            </div>
                            <fieldset class="large-12 columns row">
                                <legend style="margin-left: 20px" ng-if="UC.newVideo.hosting_type !== 'script'">Video Duration <sup class="fa fa-asterisk req" aria-hidden="true"></sup></legend>
                                <legend style="margin-left: 20px" ng-if="UC.newVideo.hosting_type === 'script'"># of Pages <sup class="fa fa-asterisk req" aria-hidden="true"></sup></legend>
                                <div class="large-4 columns">
                                    <label>Hours
                                        <input type="number" ng-model="UC.runtime.hours" min="0"
                                               ng-change="UC.runtimeToSeconds()" required>
                                    </label>

                                </div>
                                <div class="large-4 columns">
                                    <label>Minutes
                                        <input type="number" ng-model="UC.runtime.mins" min="0" max="60"
                                               ng-change="UC.runtimeToSeconds()" required>
                                    </label>

                                </div>
                                <div class="large-4 columns">
                                    <label>Seconds
                                        <input type="number" ng-model="UC.runtime.secs" min="0" max="60"
                                               ng-change="UC.runtimeToSeconds()" required>
                                    </label>

                                </div>
                            </fieldset>
                            <div class="large-12 columns">
                                <!--<div class="post-category">
                                    <label>Genres: <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                    </label>
                                    <small class="help-text">Hold Ctrl/Command key to select multiple genres.</small>
                                        <select multiple ng-model="UC.newVideo.genres"
                                                ng-options="g.id as g.name for g in UC.genresList|orderBy:'name'"></select>
                                </div>-->
                                <h6 class="borderBottom" style="margin-bottom: 10px;">Genres <sup class="fa fa-asterisk req" aria-hidden="true"></sup>:</h6>
                                <div class="radio" style="margin-bottom: 20px;">
                                    <input type="checkbox" ng-repeat-start="g in UC.genresList|orderBy:'name'"
                                           ng-model="bool" name="genre{{$index}}" id="genre{{$index}}"
                                           ng-change="UC.syncGenres(bool, g)" ng-checked="UC.isCheckedGenre(g.id)">
                                    <label ng-repeat-end class="customLabel" for="genre{{$index}}">{{::g.name}}</label>
                                </div>
                                <!--<pre>{{UC.genresArr}}</pre>-->

                                <div class="post-category">
                                    <label>Type: <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <select ng-model="UC.newVideo.type"
                                                ng-options="t.id as t.name for t in UC.typesList|orderBy:'name'" required>
                                            <option value="">Select a type</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="post-category">
                                    <label>Language: <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <select ng-model="UC.newVideo.language" required>
                                            <optgroup>
                                                <option value="00000000-0000-6b6e-4371-305344643451">English</option>
                                            </optgroup>
                                            <optgroup>
                                                <option ng-value="l.id" ng-repeat="l in UC.languageList|orderBy:'English'" ng-bind="l.English">Select Language</option>
                                            </optgroup>
                                        </select>
                                    </label>
                                </div>
                                <div class="post-category">
                                    <label ng-if="UC.newVideo.hosting_type !== 'script'">Country of Filming: <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                    <label ng-if="UC.newVideo.hosting_type === 'script'">Country of Origin: <sup class="fa fa-asterisk req" aria-hidden="true"></sup>
                                        <select ng-model="UC.newVideo.filmingCountry" ng-options="c.id as c.name for c in UC.countryList|orderBy:'name'" required>
                                            <option value="">Select Country</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="large-12 columns">
                                <div class="medium-12 columns">
                                    <div class="checkbox">
                                        <input id="check3" type="checkbox" ng-model="UC.newVideo.nsfw" aria-describedby="nsfwHelpText">
                                        <label class="customLabel" style="padding-left: 20px;" for="check3">Contains mature content?</label>
                                        <p class="help-text" id="nsfwHelpText">Mature content = Violence, Drug Use, Sexual Content, Nudity, Strong Language
                                            <br>
                                            <b>NOTE: We reserve the right to Remove content that is Excessively Violent, Pornographic, Racially Offensive, etc.</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="medium-12 columns">
                                    <div class="checkbox">
                                        <input id="check4" type="checkbox" ng-model="UC.newVideo.copyrightOwner">
                                        <label for="check4" style="">Do you own the rights to this content?</label>
                                        <input id="copyrightOwnYes" type="checkbox" ng-model="UC.newVideo.copyrightOwner" ng-click="UC.newVideo.copyrightOwner=true">
                                        <label class="customLabel" style="padding-left: 20px;display: inline-block;" for="copyrightOwnYes">Yes</label>
                                        <input id="copyrightOwnNo" type="checkbox" ng-model="UC.newVideo.copyrightOwner" ng-click="UC.newVideo.copyrightOwner=false" ng-true-value="false" ng-false-value="true">
                                        <label class="customLabel" style="padding-left: 20px;display: inline-block;" for="copyrightOwnNo">No</label>
                                        <br>
                                    </div>
                                </div>
                                <div class="medium-6 columns">
                                    <div class="checkbox">
                                        <input id="checkboxUnlist" type="checkbox" ng-model="UC.newVideo.unlist">
                                        <label class="customLabel" style="padding-left: 20px;" for="checkboxUnlist">Unlist Project</label>
                                    </div>
                                </div>
                                <div class="medium-6 columns">
                                    <div class="checkbox">
                                        <input id="check2" type="checkbox" ng-model="UC.newVideo.disableCritique">
                                        <label class="customLabel" style="padding-left: 20px;" for="check2">Disable Critiques</label>
                                    </div>
                                </div>
                            </div>
                            <div class="large-12 columns">
                                <label>Tags: (separate with commas)
                                    <input ng-model="UC.newVideo.tags" type="text" placeholder="tag1, tag2, tag3">
                                </label>
                                <!--<p class="help-block">Separate Tags with a comma</p>-->
                            </div>
                            <div class="large-12 columns">
                                <button class="button expanded" type="submit" name="submit">publish now</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End profile settings -->
