<!--breadcrumbs-->
<section id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><i class="fa fa-home"></i><a ui-sref="home">Home</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> Login
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section><!--end breadcrumbs-->

<!-- registration -->
<section class="registration">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="login-register-content">
                <div class="row collapse borderBottom">
                    <div class="medium-6 large-centered medium-centered">
                        <div class="page-heading text-center">
                            <h3>Forgot Password</h3>
                            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>-->
                        </div>
                    </div>
                </div>
                <div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
                    <div class="large-4 medium-6 large-centered medium-centered columns">
                        <div ng-if="!FPC.hasToken" class="register-form">
                            <h5 class="text-center">Enter Email</h5>
                            <form ng-submit="FPC.doPasswordResetRequest()" data-abide novalidate>
                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-user"></i></span>
                                    <input type="email" ng-model="FPC.email" placeholder="Enter your email" required>
                                    <span class="form-error">email is required</span>
                                </div>
                                <button class="button expanded" type="submit" name="submit">reset Now</button>
                            </form>
                        </div>
                        <div ng-if="FPC.hasToken" class="register-form">
                            <h5 class="text-center">Enter Your New Password</h5>
                            <form ng-submit="FPC.confirmReset()" name="confirmResetForm" data-abide novalidate>
                                <small class="help-text">Password must be at least 6 characters.</small>
                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                    <input type="password" id="password" placeholder="Enter your new password" ng-model="FPC.reseting.newPassword" ng-minlength="6" required>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                    <input type="password" name="passwordCheck" placeholder="Re-type your new password" ng-model="FPC.reseting.newPasswordCheck" ng-minlength="6" data-equalto="password" required>
                                </div>
                                <button class="button expanded" type="submit" name="submit" ng-disabled="FPC.reseting.newPassword !== FPC.reseting.newPasswordCheck && !FPC.reseting.newPassword.length">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>