<div>
    <form name="editCommentForm" id="editCommentForm" ng-submit="updateComment()" layout="row" layout-lt-md="column" layout-align="center center">
        <md-input-container flex>
            <!--<label for="myReply">Reply to {{targetComment.attributes.author.attributes.first_name}}</label>-->
        <textarea aria-label="Edit Comment" id="myReply" linkify ng-model="editedBody" ng-minlength="1"
                  focus-on="!!showReplyInput"></textarea>
        </md-input-container>
    </form>
    <md-button form="editCommentForm" type="submit" class="md-primary md-secondary">Done</md-button>
</div>
